#Home{

display: flex;
flex-direction: column;
align-items: center;
justify-content: start;   
min-height: 100vh; 
}
#title{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: xx-large;
}
#HomeContainer{
    width: 100vw;
    background-color: rgba(0, 0, 0,0);
    padding-top: 1vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.inputFile{
    position:relative;
    /* margin-top: 5vh; */
    margin-left: 0;

}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
  
.FirstRowContainer{

    margin-bottom: 2vw;
    /* width: fit-content; */
    padding: 1vw;
    /* padding-top: 5vw; */
    /* height: fit-content;  */
    background-color: rgba(80, 80, 80, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 95vw;
    height:38vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.optionsCointainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    width: 90%;
    height: 100%;
    margin-right: 2%;
    /* background-color: red; */
}
.plotChart{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    /* padding: 0; */
    /* margin-top: 1vw; */
}
.uploader1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: solid 1px;
}
.propagationBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}
.predictionBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}
.selectModelPropagation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tableContainer{
    width: fit-content;
    min-height: 65vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}
.dataTable{
    background-color: rgb(20, 20, 20,0.9);
    /* margin: 2vw; */
    /* backdrop-filter: blur(5px); */
    width: 45vw;
    height: 60vh;
    color: rgb(255, 255, 255);
    z-index: 1;
    border: 1px solid #7c7c7c;
    /* margin-top: 7vh; */
}
.dataTable th, .dataTable td {
    border: 1px solid #797979;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: fit-content;
}