#Home{

display: flex;
flex-direction: column;
align-items: center;
justify-content: start;   
min-height: 100vh; 
}
#title{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: xx-large;
}
#HomeContainer{
    width: 100vw;
    background-color: rgba(0, 0, 0,0);
    padding-top: 1vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.inputFile{
    position:relative;
    margin-left: 0;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
.firstRowParent{
    display: flex;
    justify-content: space-evenly;
    min-height: fit-content;
    width: 100%;
}
.FirstRowContainer{
    margin-bottom: 10px;
    background-color: rgba(80, 80, 80, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 48vw;
    /* height:20vw; */
    min-height: fit-content;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}
.secondRowContainer{
    margin-bottom: 10px;
    background-color: rgba(80, 80, 80, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 48vw;
    /* height:20vw; */
    /* min-height: fill-content; */
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}
.freqContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
    padding: 0;
    margin: 0;
}
.optionsCointainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    width: 90%;
    min-height: fit-content;
    margin-right: 2%;
    /* background-color: blue; */
}
.OkumuraOptionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.altOkumura{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.altsOkumura{
    height: auto;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 65%;
}
.labelOkumura{
    width:'10%';
    padding-top: 5px;
    padding-bottom: 5px;
}
.labelOkumura2{
    width:'10%';
    color: rgb(255, 159, 50);
    padding-top: 5px;
    padding-bottom: 5px;
}
.okumuraCorrectionsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 10px;
}
.applyOkumuraButton{
    margin-right: 20px;
    border: none;
    background: #1a58dd;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.applyOkumuraButton:active{
    background-color: white;
}

#predictionButton{
    margin-right: 20px;
    border: none;
    background: #b38117;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.plotChart{
    width: 100%;
    min-height: 65vh;
    padding: 0;
}
.uploader1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 0px;
    border-bottom: solid 1px;
}
.propagationBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 5px;
    padding: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    box-sizing: border-box;
    padding: 0;
}
.propagationBox h3{
    margin-bottom: 2px;
    margin-top: 2px;
}
.predictionBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    box-sizing: border-box;
}
.interpolationBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    box-sizing: border-box;
}
.interpolationEnableBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin: 0;
    padding: 0;
    max-height: fit-content;
}
.interpolationEnableBox h3{
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
.interpolationPointsBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
#interpolButton{
    background-color: rgb(26, 161, 105);
    border: 0;
    border-radius: 3px;
    font-size: 1em;
}

.selectModelPropagation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.selectModelPropagation h4{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight:400
}
.tableContainer{
    width: fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 3px;
}
.tablesContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dataTable{
    background-color: rgb(20, 20, 20,0.9);
    /* margin: 2vw; */
    /* backdrop-filter: blur(5px); */
    width: 45vw;
    height: 60vh;
    color: rgb(255, 255, 255);
    z-index: 1;
    border: 1px solid #7c7c7c;
    /* margin-top: 7vh; */
}
.dataTable th, .dataTable td {
    border: 1px solid #797979;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: fit-content;
}

.invalidInput{
    font-weight: bold;
    background-color: #F44336;
}
.errorMessage{
    color: rgb(255, 99, 99);
    font-size: 15px;
}
.successMessage{
    color: rgb(24, 196, 38);
    font-size: 15px;
}
.staticCSVText{
    color: rgb(24, 196, 110);
    font-size: 15px;
}


/* SLIDER */

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50; /* Cambia el color de la palanca activada */
}

input:checked + .slider:before {
  transform: translateX(36px);
}